spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://chamuridb.cubzwjzl7nw9.ap-northeast-2.rds.amazonaws.com:3306/chakmuriDB
    username: admin
    password: chakmuri

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    hibernate:
      ddl-auto: create #create #none #update #validate
    properties:
      hibernate:
#        show_sql: true
        format_sql: true

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type: TRACE